#main-title {
    text-align: center;
    background-color: rgb(205, 207, 76);
    color: lightseagreen;
}

.main-list-element {
    color: royalblue;
}

#main-body {
    background-color: #92d5eb;
}

#asparagus-body {
    background-color: rgb(219, 73, 73);
}

.recipe {
    font-family: 'Courier New', monospace
}

#asparagus-body p,
#asparagus-body li {
    font-weight: 300;
    color: rgb(131, 223, 160);
}

#lasagna-body {
    background-color: rgb(191, 55, 6);
}

#lasagna-body p,
#lasagna-body li {
    font-weight: 300;
    color: rgb(255, 238, 6);
}

#potato-body p,
#potato-body li {
    font-weight: 300;
    color: rgb(143, 44, 180);
}

#potato-body {
    background-color: oldlace;
}
